*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    color: aliceblue;

}

.container{
    width: 90%;
    height: 500px;
    background-color: plum;
    margin: auto;
    display: grid;
    grid-template-columns: 10% 90%;
    grid-template-rows: 200px 40px auto 50px;
}
header{
    background: lightblue;
   grid-column: 1/3;
}
nav{
    background: rgb(224, 160, 224);
    grid-column: 1/3;
}
aside{
    background: lightpink;
    grid-column: 1/2;
}
main{
    background: rgb(162, 162, 243);
    grid-row: 3/4;
    grid-column: 2/3
    
}
footer{
background: rgb(247, 145, 164);
grid-column: 1/3;
}




@media (width <=800px){
    header{
        background-color: chartreuse;
       
    }
}
   

@media (width <=800px){
    nav{
        background-color: rgb(245, 33, 192);
    }
}
   

@media (width <=800px){
    aside{
        background-color: rgb(253, 124, 72);
        grid-row: 3/4;
        grid-column: 1/4;
    }
}
   

@media (width <=800px){
    main{
        background-color: rgb(40, 140, 255);
        grid-row: 4/400;
        grid-column: 1/4;
    }
}

@media (width <=800px){
    footer{
        background-color: rgb(226, 255, 171);
    }
}