body{
  font-family: arial;
  background: #fff;

  /* fondo*/ 
}

.name{
  color: pink;
  font-size: 2px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: right;
    /* texto de abajo del ups*/ 
}

.name div:first-of-type{
  font-size: 14px;
  background: hotpink;
    /* color del ups*/ 
}


.tardis{
  position: relative;
  width: 200px;
  height: 200px;
  margin: 100px auto;
      /* Area donde girara */ 
  
  transform-style: preserve-3d;

  -webkit-transform-style: preserve-3d;
      /* Mantiene las figuras tridimensionales en un contenedor */ 

  transform-origin: 50% 50%;
  -webkit-transform-origin: 50% 50%;
        /* Define el punto de origen de las transformaciones  */ 

  transform: rotateX(-20deg) rotateY(-30deg);
  -webkit-transform: rotateX(-20deg) rotateY(-30deg);
        /* define la rotacion en el Y y X*/ 

  animation-name: spin;
             /* nombre de la animación */
  animation-duration: 5000ms;
      /* velocidad que gira */ 
  animation-iteration-count: infinite;
               /* ciclo infinito */
  animation-timing-function: linear;
               /* tendra una velocidad constante */
}

@keyframes spin{
  from{
    transform: rotateX(-20deg) rotateY(0deg);
  }

  to{
    transform: rotateX(-20deg) rotateY(360deg);
  }
}
             /* grados en que dara vuelta */


/*
#
# Begin details
#
*/
.tardis .side{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 200px;
  height: 360px;
  background-color: #3f577d;
               /* Color y posicion de los bordes de la coso */
  
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  z-index: 1;
               /* Lo mismo de mantener los cosos 3d */
}

.side:nth-of-type(1){
  transform : translateZ(100px);
  -webkit-transform : translateZ(100px);
  
   /* define la posicion si estara adelante o atras  */
}

.side:nth-of-type(2){
  transform : rotateY(90deg) translateZ(100px);
  -webkit-transform : rotateY(90deg) translateZ(100px);
               /* Lo mismo de arriba ohs y pa los otros "3" "4" */
}

.side:nth-of-type(3){
  transform : rotateY(180deg) translateZ(100px);
  -webkit-transform : rotateY(180deg) translateZ(100px);
}

.side:nth-of-type(4){
  transform : rotateY(-90deg) translateZ(100px);
  -webkit-transform : rotateY(-90deg) translateZ(100px);
}

.tardis .roof{
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #3f577d;
  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  
  transform : rotateX(-90deg) translateZ(-100px);
  -webkit-transform : rotateX(-90deg) translateZ(-100px);
  z-index: 2;
               /* techo de cabina */
}



.roof-top{
  position: absolute;
  
  left: 30px;
  width: 140px;
  height: 140px;
  z-index: 2; 
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
               /* lo de arriba del techo */
}

.top-lid{
  width: 140px;
  height: 140px;
  background-color: #355683;

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform : rotateX(-90deg) translateZ(-89px);
  -webkit-transform : rotateX(-90deg) translateZ(-89px);
}

.roof-panel{
  position: absolute;
  width: 140px;
  height: 20px;
  background-color: #445d84;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  top: -20px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
               /* igual de la caja */
}

.roof-panel.a{
  transform: rotateY(0deg) translateZ(100px);
  -webkit-transform: rotateY(0deg) translateZ(70px);
               /* PARED 1 DE LA CAJA DE ARRIBA tambien el panel b c d */
}

.roof-panel.b{
 transform: rotateY(90deg) translateZ(70px);
 -webkit-transform: rotateY(90deg) translateZ(70px);
}

.roof-panel.c{
  transform: rotateY(180deg) translateZ(70px);
  -webkit-transform: rotateY(180deg) translateZ(70px);
}

.roof-panel.d{
  transform: rotateY(-90deg) translateZ(70px);
  -webkit-transform: rotateY(-90deg) translateZ(70px);
}








.light{
  position: absolute;
  width: 40px;
  height: 40px;
  top: -60px;
  left: 85px;
  z-index: 3;
  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
               /* LAMPARITAAA */
}

.light-lid{
  width: 30px;
  height: 30px;
  background-color: #eee;
  

  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform : rotateX(-90deg) translateZ(-14px);
  -webkit-transform : rotateX(-90deg) translateZ(-14px);
               /* TAPA DEL PANEL DE LAMPARA */
}

.light .light-panel{
  position: absolute;
  width: 30px;
  height: 40px;
  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
                 /* otro panel */
}

.light .light-panel .bottom{
  width: 30px;
  height: 12px;
  position: absolute;
  bottom: 0px;
  background-color: #355683;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
   /* coso del panel de abajo de la lámpara*/
  
}

.light .light-panel .top{
  width: 30px;
  height: 28px;
  position: absolute;
  top: 0px;
  background-color:#eee ;
  box-shadow: inset 1px 0 0 #fff, inset -1px 0 0 #fff, inset 0 1px 0 #fff, inset 0 -1px 0 #fff;
   /* paneles de lámpara*/
}

.light-panel.a{
  transform: rotateY(0deg) translateZ(15px);
  -webkit-transform: rotateY(0deg) translateZ(15px);
   /* posicion del panel de lampara */
}
.light-panel.b{
  transform: rotateY(90deg) translateZ(15px);
  -webkit-transform: rotateY(90deg) translateZ(15px);
     /* posicion del panel de lampara */
}
.light-panel.c{
  transform: rotateY(180deg) translateZ(15px);    /* posicion del panel de lampara */
  -webkit-transform: rotateY(180deg) translateZ(15px);
}
.light-panel.d{
  transform: rotateY(-90deg) translateZ(15px);
  -webkit-transform: rotateY(-90deg) translateZ(15px);
}
   /* posicion del panel de lampara */





.tardis .floor{
  position: absolute;
  width: 220px;
  height: 220px;
  left: -10px;
  top: 360px;
  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
     /* tapa de abajo ...  */
}

.floor-lid{
  position: absolute;
  width: 220px;
  height: 220px;
  background-color: #355683;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateX(90deg) translateZ(109px);;
  -webkit-transform: rotateX(90deg) translateZ(109px);;
     /* panel de tapa de la caja de hasta abajo  */
}

.floor-panel{
  position: absolute;
  width: 220px;
  height: 10px;
  background-color: #355683;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  /* panel de los laterales de la base y los de abajo son lo mismo de como girara lod grados */
}

.floor-panel.a{
  transform: rotateY(0deg) translateZ(110px);
  -webkit-transform: rotateY(0deg) translateZ(110px);
}

.floor-panel.b{
 transform: rotateY(90deg) translateZ(110px);
 -webkit-transform: rotateY(90deg) translateZ(110px);
}

.floor-panel.c{
  transform: rotateY(180deg) translateZ(110px);
  -webkit-transform: rotateY(180deg) translateZ(110px);
}

.floor-panel.d{
  transform: rotateY(-90deg) translateZ(110px);
  -webkit-transform: rotateY(-90deg) translateZ(110px);
}







.side .top-sign{
  width: 180px;
  height: 28px;
  background-color: #445d84; 
  border: solid 1px #54749f;
  box-shadow: 0px 2px 4px rgba(0,0,0,.4);
  border-radius: 2px;
  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 10;
   /* posicion del panel donde esta el panel de el  texto */
}

.top-sign .text{
  background-color: #28394d;
  border: solid 1px #54749f;
  border-radius: 2px;
  width: 100px;
  margin: 3px auto;
  height: 20px;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  padding: 0px 5px;
  box-shadow: inset 0px 0px 3px rgba(0,0,0,.4);
  position: relative;

  text-shadow: 0px 0px 4px rgba(255,255,255, .6);
   /* panel donde va el texto */
}

.text .tiny{
  font-size: 4px;
  line-height: 6px;
  text-align: center;
  width: 20px;
  position: absolute;
  right: 35px;
  top: 4px;
 
     /* características del texto mediano*/
}






.side .door-frame{
  position: absolute;
  width: 160px;
  left: 20px;
  top: 35px;
  bottom: 0px;

  background-color: #445d84; 
  
  box-shadow:inset 0px 2px 8px rgba(0,0,0,.5);

  z-index: 5;
     /* posicion del panel de la puerta de la dooor jiji el de abajo tambien */
}


.door-frame .door{
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 77px;

  box-shadow:inset 0px 0px 3px rgba(0,0,0,.7);
}

.door.door-left{
  left: 0px;
}

.door.door-right{
  right: 0px;
}
   /* posicion de la puerta*/




.door .door-inset{
  position: absolute;
  left: 10px;
  bottom: 10px;

  width: 55px;
  height: 65px;
  box-shadow:inset 0px .5px 5px rgba(0,0,0,.5);
  
     /* PANELES DE VENTANITAAAS */
}

.door-inset:nth-of-type(2){
  bottom: 85px;
}

.door-inset:nth-of-type(3){
  bottom: 160px;
}
   /* posiciones */

.door .sign{
  position: absolute;
  left: 15px;
  bottom: 165px;
  width: 45px;
  height: 55px;
  background-color: #d5e4f6;
  box-shadow: inset 1px 0 0 #313d49, inset -1px 0 0 #313d49, inset 0 1px 0 #313d49, inset 0 -1px 0 #313d49;
  /* ventana chiquita */
}


.door .window{
  position: absolute;
  left: 10px;
  bottom: 235px;

  width: 55px;
  height: 65px;
  background-color: #28475d;
  /* bordes de ventana blancas brillosas */
}

.window .pane{
  width: 14px;
  height: 28px;
  background-color: #dfe7fc;
  float: left;
  margin: 2px;
  box-shadow: inset 0px 0px 10px #fff;
  /* ventanas blancas  */
}

.pane.a{
  margin-left: 3px;
  margin-right: 1px;
}

.pane.d{
  margin-left: 3px;
  margin-right: 1px;
}
/* cuadritos de las ventanas */

